In [16]:
from meteostat import Daily, Point
import pandas as pd
import seaborn as sns

filos = Point(17.87046, -99.69713, 1351)

In [2]:
file_path = 'Y:temp/datos_filos.xlsx'  # Cambia al nombre y ruta de tu archivo
sheets = pd.read_excel(file_path, sheet_name=None)
dfs = []

In [12]:
for year, data in sheets.items():
    melted = data.melt(id_vars=['día'], var_name='mes', value_name='precipitación')
    
    melted['año'] = int(year)
    
    melted = melted[['día', 'mes', 'año', 'precipitación']]
    
    dfs.append(melted)

data = pd.concat(dfs, ignore_index=True)

In [13]:
data = data.rename(columns={'año': 'Year', 'mes': 'Month', 'día': 'Day'})
data['fecha'] = pd.to_datetime(data[['Year', 'Month', 'Day']], errors='coerce')
data = data.dropna(subset=['fecha'])

data = data.drop(columns=['Day', 'Month', 'Year'])
data = data.rename(columns={'fecha': 'time','precipitación':'prcp'})

data

       prcp       time
0       0.0 2006-01-01
1       0.0 2006-01-02
2       0.0 2006-01-03
3       0.0 2006-01-04
4       0.0 2006-01-05
...     ...        ...
28267   NaN 2024-12-27
28268   NaN 2024-12-28
28269   NaN 2024-12-29
28270   NaN 2024-12-30
28271   NaN 2024-12-31

[27760 rows x 2 columns]

In [30]:
data_filos = data.interpolate()

data_filos

       prcp       time
0      0.00 2006-01-01
1      0.00 2006-01-02
2      0.00 2006-01-03
3      0.00 2006-01-04
4      0.00 2006-01-05
...     ...        ...
28267  0.11 2024-12-27
28268  0.11 2024-12-28
28269  0.11 2024-12-29
28270  0.11 2024-12-30
28271  0.11 2024-12-31

[27760 rows x 2 columns]

FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.

                prcp
time
2006-01-01  0.000000
2006-01-02  0.000000
2006-01-03  0.000000
2006-01-04  0.000000
2006-01-05  0.000000
...              ...
2024-12-27  0.000139
2024-12-28  0.000139
2024-12-29  0.000139
2024-12-30  0.000139
2024-12-31  0.000139

[62460 rows x 1 columns]